@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;800;900&display=swap");

/* variables */

:root {
  --main-bg-color: #798281;
  --secondary-bg-color: #9da29e;
  --footer-bg-color: #686666;
  --brown-color: #372f2c;
  --dark-brown-color: #363232;
  --white-gray-color: #d0d0cf;
}

/* properties */
.brown-text {
  color: var(--brown-color);
}

.dark-brown-text {
  color: var(--dark-brown-color);
}

.gray-text {
  color: var(--white-gray-color);
}

.white-text {
  color: #fff;
}

.bold {
  font-weight: 900 !important;
}

.text-uppercase {
  text-transform: uppercase !important;
}

.text-14 {
  font-size: 14px !important;
}

.text-36 {
  font-size: 36px !important;
}

.text-48 {
  font-size: 48px !important;
}

.text-center {
  text-align: center !important;
  /* margin: 0 auto; */
}

.text-justify {
  text-align: justify !important;
}

button {
  cursor: pointer;
}

button:hover {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

html {
  width: 100%;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  letter-spacing: 0.03em;
}

body {
  width: 100%;

  font-family: Roboto;
  background-color: var(--main-bg-color);
  font-size: 20px;
  color: black;
  padding: 0;
  margin: 0;
}

img {
  pointer-events: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  user-select: none;
}

.container {
  width: 1620px !important;
  margin: 0 auto;
}

/* header */

.head,
.head-left {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  height: 100px;
  font-size: 20px;
}

.head {
  justify-content: space-around;
}

.head-left {
  gap: 15px;
}

.head-left .logo {
  margin-right: 25px;
}

.address-text {
  display: flex;
  flex-direction: column;
  margin-top: 0px;
  margin-left: -7px;
  line-height: 20px;
}

.info {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 5px;
}

.button-default {
  background-color: var(--brown-color);
  color: var(--white-gray-color);
  font-size: 20px;
  border: none;
  border-radius: 0 0 15px 0;
  height: 60px;
  transition: box-shadow 0.3s;
}

#head-button {
  width: 250px;
}

hr {
  margin-top: 0;
  border: 0;
  border-top: 1px solid var(--brown-color);
  opacity: 1;
}

.gallery {
  display: flex;
  flex-direction: column;
}

.gallery-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 100px;
}

.gallery-row-center {
  align-items: center;
}

.gallery-appointment {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 25px;
}

#gallery-button {
  width: 400px;
  font-size: 15px;
}

#img-2 {
  border: 1px solid var(--brown-color);
  border-radius: 0 0 0 170px;
}

#img-3 {
  border: 1px solid var(--brown-color);
  border-radius: 0 170px 0 0;
}

.text-about {
  width: 710px;
}

/* services */

.services-section {
  background-color: var(--secondary-bg-color);
  padding-block: 50px 150px;
}

.services {
  margin-top: 60px;
  display: grid;
  grid-template-columns: 1fr 1.2fr 1fr;
  grid-template-rows: auto auto;
  column-gap: 70px;
}

.service {
  word-break: break-word;
  padding: 20px 15px 15px;
  display: flex;
  flex-direction: row;
  gap: 15px;
  margin-bottom: 50px;
  background-color: var(--main-bg-color);
  border: 1px solid var(--brown-color);
}

.service-image {
  width: 110px;
  height: 110px;
  border-radius: 50%;
  margin-top: 10px;
  border: 1px solid var(--brown-color);
}

.service-text {
  display: flex;
  flex-direction: column;
}

.service-text span {
  color: var(--brown-color);
  font-weight: 900;
  text-transform: uppercase;
}

.service-discription {
  margin-block: 10px 0;
  color: var(--white-gray-color);
}

#popular-services-text {
  margin-top: 0;
}

.services-with-prices {
  display: flex;
  justify-content: center;
  gap: 30px;
}

.service-with-price {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: end;
  background-color: var(--main-bg-color);
  border: 1px solid var(--brown-color);
  border-radius: 5px;
  color: var(--brown-color);
  box-sizing: content-box;
  font-size: 36px;
  font-weight: 900;
  gap: 15px;
  width: 480px;
  height: 250px;
  margin-bottom: 210px;
}

.usluga {
  margin-bottom: -10px;
  text-transform: uppercase;
  text-align: center;
}

.price {
  margin-bottom: 105px;
}

.service-with-price button {
  position: absolute;
  top: 65%;
  font-size: 20px;
  width: 250px;
  height: 60px;
}

.examples p {
  margin: 0;
  margin-bottom: 80px;
}

.example-images {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.examples-group {
  display: flex;
  flex-direction: row;
}

/* dantists */

/* dentistry section*/

.dentistry-section {
  padding-block: 70px 130px;
}

.dentistry-section p {
  margin: 0;
}

/* welcome */

.welcome {
  height: 540px;
}

.welcome-image {
  width: 500px;
  aspect-ratio: 10 / 7;
  border-radius: 15px;
}

.welcome-text-and-controlls {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

/* slider */

.controlls {
  display: flex;
  flex-direction: row;
  /* justify-content: end; */
  gap: 25px;
  margin-bottom: 25px;
}

.arrow {
  width: 80px;
  height: 80px;
  background-color: var(--dark-brown-color);
  border-radius: 15px;
  border: none;
  margin: 0;
}

.arrow:hover {
  opacity: 0.7;
}

.arrow-next {
  transform: scale(-1, 1);
}

.slider {
  width: 1620px; /* Adjust width as needed */
  margin: 50px auto;
  overflow: hidden;
  position: relative; /* Important for dragging */
}
.slider-container {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  transition: transform 0.6s ease-in-out; /* Smooth transition */
  position: relative; /* Important for dragging */
}
.slide {
  width: 440px; /* Adjust width as needed */
  height: 320px;
  margin-right: 10px;
  /* object-fit: cover; */
  flex-shrink: 0;
  transition: width 0.5s ease-in-out;
  transition: height 0.5s ease-in-out;
}
.slide img {
  width: 100%;
  height: 100%;
  display: block;
}
.active {
  width: 510px; /* Adjust width as needed */
  height: 370px;
}

/* contacts */

.contacts {
  margin-top: 65px;
  display: flex;
  flex-direction: row;
}

.map {
  margin-left: 90px;
}

.contacts-text {
  margin-left: 300px;
}

.info-with-pins {
  margin-top: 35px;
  display: flex;
  flex-direction: column;
  gap: 25px;
  font-weight: 800;
}

.info-with-pin {
  display: flex;
  align-items: center;
  gap: 15px;
}

/* footer */

footer {
  box-sizing: content-box;
  background-color: var(--footer-bg-color);
  padding-block: 35px 50px;
  color: #d0d0cf;
}

footer p {
  opacity: 0.5;
  margin-block: 15px;
}

.footer-text-with-logo {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  gap: 10px;
  font-size: 14px;
}

.footer-text p:first-child {
  margin-top: 5px !important;
}
